<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>{{moduleName}}</h1>
</section>
<!-- Main content -->
<section class="content">
  <mat-card class="support-card">
    <div class="row">
      <div class="col col-ld-11">
        <form [formGroup]="userForm" (ngSubmit)="changePassword()" autocomplete="off"
          class="form-horizontal common-form">
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Old Password<b>*</b></label>
                <mat-form-field>
                  <input matInput formControlName="oldPassword" type="password" class="form-control"
                    tabindex="1" placeholder="Old Password">
                  <div class="form-control-feedback" *ngIf="userForm.controls['oldPassword'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                      *ngIf="userForm.controls['oldPassword'].errors.required && checkSubmitStatus">
                      Old Password is required
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">New Password<b>*</b></label>
                <mat-form-field>
                  <input matInput formControlName="newPassword" maxlength="20" type="password" class="form-control"
                    tabindex="2" placeholder="New Password">
                  <div class="form-control-feedback" *ngIf="userForm.controls['newPassword'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                      *ngIf="userForm.controls['newPassword'].errors.required && checkSubmitStatus">
                      New Password is required
                    </p>
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                      *ngIf="userForm.controls['newPassword'].errors.pattern  && checkSubmitStatus">
                      Password between 8 and 20 characters; must contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character, but cannot contain whitespace.
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Confirm Password<b>*</b></label>
                <mat-form-field>
                  <input matInput formControlName="confirmPassword" maxlength="20" type="password" class="form-control"
                    tabindex="3" placeholder="Confirm Password">
                  <div class="form-control-feedback" *ngIf="userForm.controls['confirmPassword'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                      *ngIf="userForm.controls['confirmPassword'].errors.required && checkSubmitStatus">
                      Confirm Password is required
                    </p>
                  </div>
                  <div class="form-control-feedback"
                    *ngIf="userForm.errors?.invalid && !userForm.controls['confirmPassword'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                      *ngIf="userForm.errors?.invalid && checkSubmitStatus">
                      Passwords must match
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>

          <div class="row mt-4 mb-0">
            <div class="col-lg-12">
              <div class="form-field">
                <div class="input-field ">
                  <button mat-flat-button color="primary" class="text-white " title="Submit" type="submit" tabindex="5">
                    {{buttonname}}
                  </button>
                  <button mat-flat-button color="primary" class="text-white m-l-10"
                    [routerLink]="isAdmin?['/admin/dashboard']:['/dashboard']" title="Cancel">
                    Cancel
                  </button>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</section>
