<section class="content-header">
    <h1>
        <img class="mr-1 mb-1" src="../../../../assets/images/back-arrow-icon.svg" (click)="location.back();" />
        Generator Details
    </h1>
</section>

<div class="row">
    <div class="col-xl-8  m-b-30">
        <div class="drag-body dashboard-widget h-100">
            <div class="panel-heading">
                <h5 class="panel-title"> {{this.dataobj.name}} </h5>
                <div>
                    <a data-toggle="modal" href="#myModal" class="telemetry-link">
                        <img src="../../../assets/images/telemetry-icon.svg">
                        <span>Telemetry Data</span>
                    </a>
                </div>
            </div>
            <mat-card class="dashboard-card mat-card">
                <div class="row my-1">
                    <div class="col">
                        <div class="row">
                            <div class="col align-self-center">
                                <div class="product-img" *ngIf="mediaUrl">
                                    <img src={{mediaUrl}}>
                                </div>
                            </div>
                            <div class="col">
                                <div class="product-description">
                                    <h3 class="bold">Description</h3>
                                    <div [innerHTML]="this.dataobj.description"></div>
                                </div>
                                <div class="product-specification mb-4">
                                    <h3 class="bold">Specifications</h3>
                                    <div [innerHTML]="this.dataobj.specification"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media-card">
                        <div class="media-card-inner">
                            <div class="media-card-header">
                                <div class="media-title">Media Files</div>
                                <button mat-flat-button type="button" (click)="Respond();" color="primary"
                                    title="Upload Media">Upload Media</button>
                            </div>
                            <div class="media-item-wrapper">
                                <div class="media-item" *ngFor="let filedata of mediaFiles">
                                    <div class="media-icon">
                                        <img src="../../../assets/images/pdf-icon.svg">
                                    </div>
                                    <div class="media-text">
                                        <div class="media-filename"
                                            (click)="downloadPdf(filedata.filePath,filedata.fileName)">
                                            {{filedata.fileName ? filedata.fileName : 'N/A'}}</div>
                                        <div class="media-size">{{filedata.fileSize?filedata.fileSize:'N/A' }}</div>
                                    </div>
                                    <a href="javascript:void(0)" class="delete-media"
                                        (click)="deleteModel(filedata.guid)">
                                        <img src="../../../../assets/images/icon-delete.svg" />
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="col-xl-4 m-b-30">
        <div class="drag-body dashboard-widget h-100">
            <div class="panel-heading">
                <h5 class="panel-title"> Current Statistics </h5>
            </div>
            <mat-card class="dashboard-card mat-card p-0">
                <div class="current-statistics-wrapper">
                    <div class="current-statistics-item">
                        <div class="current-statistics-icon">
                            <img src="../../../../assets/images/engine-icon.svg" />
                        </div>
                        <div class="current-statistics-text">
                            Engine (RPM)
                        </div>
                        <div class="current-statistics-data text-yellow">
                            {{engine? engine : 'N/A'}}
                        </div>
                    </div>
                    <div class="current-statistics-item">
                        <div class="current-statistics-icon">
                            <img src="../../../../assets/images/current-icon.svg" />
                        </div>
                        <div class="current-statistics-text">
                            Current (A)
                        </div>
                        <div class="current-statistics-data text-blue">
                            {{current? current : 'N/A'}}
                        </div>
                    </div>
                    <div class="current-statistics-item">
                        <div class="current-statistics-icon">
                            <img src="../../../../assets/images/voltage-icon.svg" />
                        </div>
                        <div class="current-statistics-text">
                            Voltage (V)
                        </div>
                        <div class="current-statistics-data text-green">
                            {{voltage? voltage : 'N/A'}}
                        </div>
                    </div>
                    <div class="current-statistics-item">
                        <div class="current-statistics-icon">
                            <img src="../../../../assets/images/fuel-sm-icon.svg" />
                        </div>
                        <div class="current-statistics-text">
                            Fuel Level (Gal)
                        </div>
                        <div class="current-statistics-data text-orange">
                            {{fuelLevel? fuelLevel : 'N/A'}}
                        </div>
                    </div>
                    <div class="current-statistics-item">
                        <div class="current-statistics-icon">
                            <img src="../../../../assets/images/engine-oil-icon.svg" />
                        </div>
                        <div class="current-statistics-text">
                            Engine Oil Pressure (psi)
                        </div>
                        <div class="current-statistics-data text-skyblue">
                            {{engineOilLevel? engineOilLevel : 'N/A'}}
                        </div>
                    </div>
                    <div class="current-statistics-item">
                        <div class="current-statistics-icon">
                            <img src="../../../../assets/images/battery-status-icon.svg" />
                        </div>
                        <div class="current-statistics-text">
                            Battery Status (%)
                        </div>
                        <div class="current-statistics-data text-pink">
                            {{batteryStatus? batteryStatus : 'N/A'}}
                        </div>
                    </div>

                </div>
            </mat-card>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-xl-8 m-b-30">

        <div class="drag-body dashboard-widget">
            <div class="panel-heading">
                <h5 class="panel-title"> Energy Generated </h5>
            </div>
            <mat-card class="dashboard-card mat-card">
                <google-chart *ngIf="chart['energyConsumption']['dataTable'].length" #cchart
                    [data]="chart['energyConsumption']"></google-chart>
                <div *ngIf="!chart['energyConsumption']['dataTable'].length"
                    class="text-center d-flex align-items-center justify-content-center" style="height: 300px;">
                    No data found
                </div>
            </mat-card>
        </div>
        <div class="drag-body dashboard-widget">
            <div class="panel-heading">
                <h5 class="panel-title">Fuel Used </h5>
            </div>
            <mat-card class="dashboard-card mat-card">
                <google-chart *ngIf="chart['fuelUsage']['dataTable'].length" #cchart [data]="chart['fuelUsage']">
                </google-chart>
                <div *ngIf="!chart['fuelUsage']['dataTable'].length"
                    class="text-center d-flex align-items-center justify-content-center" style="height: 300px;">
                    No data found
                </div>
            </mat-card>
        </div>
    </div>
    <div class="col-xl-4  m-b-30">
        <div class="drag-body dashboard-widget">
            <div class="panel-heading">
                <h5 class="panel-title"> Alerts </h5>
            </div>
            <mat-card class="dashboard-card mat-card pt-0">
                <ul class="alerts-dashboard  alerts-dashboard-style2">
                    <li class="alert-high">
                        <span class="alerts-date">Today, 10:30 AM</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-high">
                        <span class="alerts-date">Today, 08:24 AM</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-medium">
                        <span class="alerts-date">2 days ago</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-normal">
                        <span class="alerts-date">2 days ago</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-high">
                        <span class="alerts-date">4 days ago</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-medium">
                        <span class="alerts-date">1 week ago</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-normal">
                        <span class="alerts-date">1 week ago</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-high">
                        <span class="alerts-date">Today, 10:30 AM</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-high">
                        <span class="alerts-date">Today, 08:24 AM</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                    <li class="alert-medium">
                        <span class="alerts-date">2 days ago</span>
                        <span class="alerts-info"><b>Aggreko</b> - Low Fuel Level</span>
                    </li>
                </ul>
                <div class="alert-indicator-wrapper">
                    <div class="alert-indicator-list">
                        <div class="alert-indicator bg-red">
                            <span class="legend"></span>
                            <span class="alert-text">High</span>
                        </div>
                        <div class="alert-indicator bg-orange">
                            <span class="legend"></span>
                            <span class="alert-text">High</span>
                        </div>
                        <div class="alert-indicator bg-green">
                            <span class="legend"></span>
                            <span class="alert-text">High</span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content drag-body ">

            <div class="panel-heading">
                <h4 class="panel-title">Telemetry Data</h4>
                <button type="button" class="close mr-3" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="modal-body-header">
                    <h2>{{this.dataobj.name}}</h2>
                    <button [disableRipple]="true" mat-icon-button class="dropdown-toggle custom-dropdown-toggle"
                        data-toggle="dropdown">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu">
                        <mat-card class="filter-card mb-0">
                            <mat-card-content class="status-ticket-dropdown">
                                <div class="d-flex">
                                    <div class="duration">
                                        <h3>Duration:</h3>
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button>Today</mat-radio-button>
                                            <mat-radio-button>Last Week</mat-radio-button>
                                            <mat-radio-button>Last Month</mat-radio-button>
                                            <mat-radio-button>Last 6 Month</mat-radio-button>
                                            <mat-radio-button>Last Year</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="text-right d-flex mt-2">
                                    <button mat-flat-button type="button" color="primary" title="search">search</button>
                                    <button mat-flat-button type="button" color="primary" class="ml-3"
                                        title="cancel">cancel</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="modal-body-data">
                    <div>

                        <canvas baseChart [chartType]="'line'" [datasets]="datasets" [options]="options">

                        </canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="create-drawer transform" *ngIf="respondShow">
    <div class="head">
        <a href="javascript:void()" class="closedrawer" (click)="respondShow = false"><i
                class="material-icons">close</i></a>
        <h2>Media Files</h2>
    </div>
    <div class="form-container">
        <div class="view-form">
            <form [formGroup]="imageForm" (ngSubmit)="uploadMedia();" autocomplete="off"
                class="form-horizontal common-form">
                <div class="row">
                    <div class="col-12">
                        <input formControlName="files" (change)="handleImageInput($event)" class="upload-image"
                            type="file" accept=".pdf,.doc,.docx" multiple />
                        <div class="form-control-feedback" *ngIf="imageForm.controls['files'].errors">
                            <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                                *ngIf="imageForm.controls['files'].errors.required && checkSubmitStatus">
                                Upload Image
                            </p>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="form-field">
                            <div class="input-field ">
                                <button mat-flat-button color="primary" class="text-white " title="Submit"
                                    type="submit">
                                    Upload
                                </button>
                                <button mat-flat-button color="primary" class="text-white m-l-10"
                                    (click)="respondShow = false" title="Cancel">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
