<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>{{moduleName}}</h1>
</section>
<!-- Main content -->

<section class="content">
  <mat-card class="support-card">
    <div class="row">
      <div class="col col-ld-11">
        <form [formGroup]="userForm" (ngSubmit)="addUser()" autocomplete="off" class="form-horizontal common-form">
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">First Name<b>*</b></label>
                <mat-form-field>
                  <input matInput name="firstName" formControlName="firstName" type="text" maxlength="50" [(ngModel)]="userObject['firstName']"
                         class="form-control" tabindex="1" placeholder="First Name">
                  <div class="form-control-feedback" *ngIf="userForm.controls['firstName'].errors">
                    <p class="form-tooltip-error sm " [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['firstName'].errors.required && checkSubmitStatus">
                      Please enter First Name
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Last Name<b>*</b></label>
                <mat-form-field>
                  <input matInput name="lastName" formControlName="lastName" type="text" maxlength="50" [(ngModel)]="userObject['lastName']"
                         class="form-control" tabindex="2" placeholder="Last Name">
                  <div class="form-control-feedback" *ngIf="userForm.controls['lastName'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['lastName'].errors.required && checkSubmitStatus">
                      Please enter Last Name
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Email<b>*</b></label>
                <mat-form-field>
                  <input matInput name="email" formControlName="email" type="text" maxlength="50" [(ngModel)]="userObject['email']"
                         class="form-control" tabindex="3" placeholder="Email" [readonly]="isEdit">
                  <div class="form-control-feedback" *ngIf="userForm.controls['email'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['email'].errors.required && checkSubmitStatus">
                      Please enter Email
                    </p>
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['email'].errors.email">
                      Please enter valid Email
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Role<b>*</b></label>
                <mat-form-field>
                  <mat-select placeholder="Select Role" formControlName="roleGuid" [(ngModel)]="userObject['roleGuid']" tabindex="4">
                    <mat-option *ngFor="let role of roleList" [value]="role.guid">
                      {{role.name}}
                    </mat-option>
                  </mat-select>
                  <div class="form-control-feedback" *ngIf="userForm.controls['roleGuid'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['roleGuid'].errors.required && checkSubmitStatus">
                      Please select Role
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Time Zone<b>*</b></label>
                <mat-form-field>
                  <mat-select placeholder="Select Timezone" formControlName="timeZoneGuid" [(ngModel)]="userObject['timezoneGuid']" tabindex="5">
                    <mat-option *ngFor="let time of timezoneList" [value]="getdata(time.value)">
                      {{time.text}}
                    </mat-option>
                  </mat-select>
                  <div class="form-control-feedback" *ngIf="userForm.controls['timeZoneGuid'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['timeZoneGuid'].errors.required && checkSubmitStatus">
                      Please select Time Zone
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset class="form-group form-field">
                <label class="form-label">Contact<b>*</b></label>
                <mat-form-field>
                  <input matInput name="contactNo" [textMask]="mask" formControlName="contactNo" type="text" maxlength="50" [(ngModel)]="userObject['contactNo']"
                         class="form-control" tabindex="6" placeholder="91-1234567890">
                  <div class="form-control-feedback" *ngIf="userForm.controls['contactNo'].errors">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['contactNo'].errors.required && checkSubmitStatus">
                      Please enter Contact
                    </p>
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="userForm.controls['contactNo'].errors.pattern && checkSubmitStatus">
                      Please enter valid Contact
                    </p>
                  </div>
                  <div class="form-control-feedback" *ngIf="contactNoError">
                    <p class="form-tooltip-error sm" [ngClass]="{'error':true}"
                       *ngIf="checkSubmitStatus">
                      Please enter valid Contact No
                    </p>
                  </div>
                </mat-form-field>
              </fieldset>
            </div>
          </div>
          <div class="row mt-4 mb-0">
            <div class="col-lg-12">
              <div class="form-field">
                <div class="input-field ">
                  <button mat-flat-button color="primary"
                          class="text-white " title="Submit" type="submit">
                    {{buttonname}}
                  </button>
                  <button mat-flat-button color="primary" class="text-white m-l-10" [routerLink]="['/users']"
                          title="Cancel">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</section>
