<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
      <!--internalLogLevel="none"
      internalLogFile="logs/nlog-own.log">-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="logs/nlog-all-${shortdate}.log"
            layout="${longdate}| ${uppercase:${level}}| ${message}" />

    <!-- write log message to database -->
    <target xsi:type="Database" name="database">
      <!-- SQL command to be executed for each entry -->
      <commandText>INSERT INTO [Log]([Application],[LoggedOn],[Level],[Message]) 
        VALUES(@application, @loggedon, @level, @message)</commandText>

      <!-- parameters for the command -->
      <parameter name="@application" layout="security.api" />
      <parameter name="@loggedon" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />

       <!--
       CREATE TABLE Log(
	      [Id] int primary key not null identity(1,1),
        [Application] nvarchar(100),
	      [LoggedOn] datetime,
        [Level] nvarchar(10),
        [Message] nvarchar(max))-->
      
      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>Data Source=PC4153\\SQLEXP2012, 1433;Initial Catalog=TestDB;User ID=sa; Password=softweb#123</connectionString>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
    <!--<logger name="*" minlevel="Error" writeTo="allOutputs" />
    <logger name="*" minlevel="Error" writeTo="allOutputs" />-->
  </rules>
</nlog>