<div class="login-box">
	<div class="right-img"><img src="./assets/images/login-box-img.jpg" alt=""></div>
	<div class="login-form">
		<div id="divLoginSection" class="login-wrap">
			<div id="message-error" class="alert alert-error" style="display: none"></div>
			<div id="message-success" class="alert alert-success" style="display: none"></div>
			<a class="btn btn-default cancel-bt" id="CancelUrl" style="display:none">X</a>
			<div class="page-error-box">
				<div class="mb-4">
					<h3>404</h3>
				</div>
				<div class="error-title">Page not found</div>
				<a routerLink="/" class="btn btn-rounded"
					style="background: black;border: 1px solid #000;color: #fff;margin: 30px 0;">
					Go to Main page
				</a>
			</div>
		</div>
	</div>
</div>