<div class="login-box">
    <div class="right-img"><img src="./assets/images/login-box-img.jpg" alt=""></div>
    <div class="login-form">
        <div id="divForgotPwdSection" class="login-wrap" >
            <div class="mb-4">
                <h3 class="forgotpassheader">Welcome to Smart Water</h3>
                <p class="forgotpassinfo"></p>
            </div>
            <div class="form">
                <div class="localAccount">
                    <button mat-flat-button color="primary"  class="text-white" 
                    title="Login" [routerLink]="['/login']">Login</button>
                    <button mat-flat-button color="primary" class="text-white"
                     title="Register" [routerLink]="['/register']">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
