<footer class="main-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="row align-items-center flex-wrap footerbottom">
                <div class="col-md-auto footer-right">
                    <div class="copyright">
                        <p> Powered by Softweb Solutions Inc. (An Avnet Company) </p>
                    </div>
                </div>
                <div class="col footer-right">
                    <div class="copyright">
                        <p> Copyright ©{{currentDate | date:'yyyy'}} Avnet, Inc. All rights reserved. </p>
                    </div>
                    <div class="footer-link">
                        <!--<a href="#">Blogs </a>
    <a href="#">FAQs</a>
    <a href="#">Contact Us</a>
    <a href="#">Community</a>
    <a href="#">Terms of Use</a>-->
                        <a href="https://www.avnet.com/wps/portal/us/about-avnet/human-rights/" target="_blank">Human
                            Rights</a>
                        <a href="https://www.avnet.com/wps/portal/us/about-avnet/privacy/" target="_blank">Privacy</a>
                        <a href="https://www.avnet.com/wps/portal/us/about-avnet/legal/" target="_blank">Terms of
                            Use</a>
                    </div>
                </div>
                <div class="col-md-auto">
                    <img src="../../../../assets/images/footer_logo.svg" alt="" width="112">
                </div>
            </div>
        </div>
    </div>
</footer>