<div class="modal animated fade-scale" id="{{ dialogId }}" role="dialog">
	<div class="modal-dialog" style="width: 400px;">
		<div class="modal-content">
			<div class="modal-header p-b-0">
				<button type="button" class="close p-b-0 p-t-2" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body">
				<h4 class="modal-title">Extend Meeting</h4>
				
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-12">
						<button type="submit" (click)="clickOnSave()" class="btn btn-sm button-with-icon" value="OK" data-dismiss="modal">
							<i class="material-icons">done</i>
							<span class="label">Ok</span>
						</button>
						<a class="cancel-link" data-dismiss="modal"> Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>