<section class="content-header">
  <h1>hardware kits</h1>
  <div class="content-header-action">
    <div>
      <app-search-render [searchValue]="searchParameters.searchText" (searchEvent)="searchTextCallback($event)"></app-search-render>
    </div>
    <div class="p-l-20">
      <button type="button" [routerLink]="['/admin/hardwarekits/add']" mat-flat-button color="primary"
              class="text-white" title="Add Kit">
        Add Kit
      </button>
    </div>
    <div class="p-l-20">
      <button type="button" [routerLink]="['/admin/hardwarekits/bulkupload']" mat-flat-button color="primary"
              class="text-white" title="Bulk Upload">
        Bulk Upload
      </button>
    </div>
  </div>
</section>
<div class="content p-t-0">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="clickassigned($event)">
    <mat-tab label="Whitelisting">
      <div>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="setOrder($event)"
                 matSortActive="kitCode" matSortDirection="asc" matSortDisableClear>


            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="fieldshow == false">
                Company name
              </th>
              <td mat-cell *matCellDef="let element" [hidden]="fieldshow == false"> {{element.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="kitCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                H/W Kit ID
              </th>
              <td mat-cell *matCellDef="let element"> {{element.kitCode}} </td>
            </ng-container>

            <ng-container matColumnDef="kitTypeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Kit Type
              </th>
              <td mat-cell *matCellDef="let element"> {{element.kitTypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="fieldshow == false"> Status </th>
              <td mat-cell *matCellDef="let element" [hidden]="fieldshow == false">
                <a href="javascript:void(0)" [ngClass]="element?.isActive ? 'active' :'inactive' ">
                  {{element?.isProvisioned  ? _appConstant.Status : _appConstant.inStatus }}
                </a>

              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="w110" [hidden]="fieldshow == true">Actions</th>
              <td mat-cell *matCellDef="let element" [hidden]="fieldshow == true">
                <div class="table-icons">
                  <a class="green" [routerLink]="['/admin/hardwarekits',element.guid]" title="Edit">
                    <img alt="Edit" src="../../../../assets/images/icon-edit.svg">
                  </a>
                  <a class="red" href="javascript:void(0)" data-toggle="modal"
                     data-target="#deviceDeleteModal"
                     (click)="deleteModel(element)"
                     title="Delete">
                    <img src="../../../../assets/images/icon-delete.svg">
                  </a>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <div *ngIf="dataSource.length === 0" class="centerclass">No records found</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Assigned" (selectedTabChange)="clickassigned($event)">
      <div>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="setOrder($event)"
                 matSortActive="kitCode" matSortDirection="asc" matSortDisableClear>


            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="fieldshow == false">
                Company name
              </th>
              <td mat-cell *matCellDef="let element" [hidden]="fieldshow == false"> {{element.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="kitCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                H/W Kit ID
              </th>
              <td mat-cell *matCellDef="let element"> {{element.kitCode}} </td>
            </ng-container>

            <ng-container matColumnDef="kitTypeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Kit Type
              </th>
              <td mat-cell *matCellDef="let element"> {{element.kitTypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef [hidden]="fieldshow == false"> Status </th>
              <td mat-cell *matCellDef="let element" [hidden]="fieldshow == false">
                <p [ngClass]="'active'">
                  {{element?.isProvisioned ? _appConstant.Status : _appConstant.inStatus }}
                </p>

              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="w110" [hidden]="fieldshow == true">Actions</th>
              <td mat-cell *matCellDef="let element" [hidden]="fieldshow == true">
                <div class="table-icons">
                  <a class="green" [routerLink]="['/admin/hardwarekits',element.guid]" title="Edit">
                    <img alt="Edit" src="../../../../assets/images/icon-edit.svg">
                  </a>
                  <a class="red" href="javascript:void(0)" data-toggle="modal"
                     data-target="#deviceDeleteModal"
                     (click)="deleteModel(element)"
                     title="Delete">
                    <img src="../../../../assets/images/icon-delete.svg">
                  </a>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <div *ngIf="dataSource.length === 0" class="centerclass">No records found</div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-paginator #paginator [length]="totalRecords" [pageIndex]="searchParameters.pageNo" [pageSize]="searchParameters.pageSize"
                 [pageSizeOptions]="pageSizeOptions" (page)="ChangePaginationAsPageChange($event)"
                 [showFirstLastButtons]="true">
  </mat-paginator>

</div>
<app-confirm-dialog [dialogId]="'spaceStatusModal'" [status]="changeStatusDeviceStatus" [msgType]="0"
                    [moduleName]="changeStatusDeviceName" (onSave)="changeDeviceStatus('','')"></app-confirm-dialog>
